 <div class="col-sm-8 col-md-offset-1" ng-controller="CtrlGetSingleBlog">
    
      <div ng-repeat="sblog in singleBlog">
        <h2>{{sblog.Tittle}}</h2>

        <h4>Category : {{sblog.Type}}  </h4> <h5><span class="glyphicon glyphicon-time"></span>Post by  <span style="color: #337ab7;font-weight: bold;">{{sblog.name}},</span> on {{sblog.CreatedDate |date : 'fullDate'}}.</h5>

        <p style="text-align:justify;">{{sblog.blogText}}</p>
       <!--  <a ui-sref="AddNewBlog({id: blog1.Tittle})">
            {{blog.Tittle}}
        </a> -->
       
        <!--   <h3 ng-model="blogObj.id">{{sblog._id}}</h3> -->
        <hr>
      </div>
      <br><br>
      <h3>Add Your Comments here ...</h3>
     <form>
        <div class="form-group">
        
          <label for="comment"> Blog Content:</label>
          <textarea class="form-control" rows="4" ng-model="blogObj.CommentText" id="blogText"></textarea>
          <button type="button" ng-click="addComment()" class="btn btn-primary" style="margin: 12px 0px;">Add Comment</button>
       
    </div>
    </form>
      <hr>
      <div ng-repeat="comment in commentdata">
      <h5>Post by  <span style="color: #337ab7;font-weight: bold;">{{comment.UserCommentname}},</span> <span class="glyphicon glyphicon-time"></span>on {{comment.CommentsDate |date : 'fullDate'}}.</h5>
       <p style="text-align:justify;">{{comment.CommentText}}</p>
       <hr>
      </div>
    </div>