  <div class="col-sm-8 col-md-offset-1">
    <h2>Add Your Blog</h2>
     <form method="post" action="#">
        <div class="form-group">
          <label for="Titel">Blog Title:</label>
          <input type="text" class="form-control" name="title"><br>
          <label for="comment"> Blog Content:</label>
          <textarea class="form-control" rows="5" id="comment"></textarea>

          <div class="dropdown" style="float:left; margin-right:8px;">
          
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="margin: 12px 0px;">Blogs Field
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">Food </a></li>
      <li><a href="#">Travel </a></li>
      <li><a href="#">Technology </a></li>
       <li><a href="#">Fashion Blogs</a></li>
      <li><a href="#">Mobile & Gadgets </a></li>
    </ul>
  </div>
          <button type="submit" class="btn btn-primary" style="margin: 12px 0px;">Add Blog</button>
       
    </div>
    </form>
    </div>