
    <div class="col-sm-3 sidenav">
      <h4>Featured Blogs</h4>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#section1">your Blogs</a></li>
        <li><a href="#section2">Food Blogs</a></li>
        <li><a href="#section3">Travel Blogs</a></li>
        <li><a href="#section3">Technology Blogs</a></li>
        <li><a href="#section3">Fashion Blogs</a></li>
          <li><a href="#section3">Mobile & Gadgets</a></li>
      </ul><br>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Blog..">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    </div>

    <div class="col-sm-9" ng-controller="CtrlGetBlog">
    
     <h4><small>RECENT POSTS</small></h4>
      <hr>
      <div ng-repeat="blog in blogData">
        <h2>{{blog.Tittle}}</h2>

        <h4>Category : {{blog.Type}}  </h4> <h5><span class="glyphicon glyphicon-time"></span>Post by  <span style="color: #337ab7;font-weight: bold;">{{blog.name}},</span> on {{blog.CreatedDate |date : 'fullDate'}}.</h5>

        <p style="text-align:justify;">{{blog.blogText}}</p>
        <hr>
      </div>
      <br><br>
      
      
     
    </div>
