  <div class="col-sm-8 col-md-offset-1" ng-controller="CntrlBlog">
    <h2>Add Your Blog</h2>
     <form>
        <div class="form-group">

            <label for="sel1" >Blog Type : </label><br>
            <select class="form-control" id="sel1" ng-model="blog.type" style="width:30%;">
            <option value="" disabled selected>Select your Blog type</option>
            <option>Food</option>
            <option>Travel</option>
            <option>Technology</option>
            <option>Fashion Blogs</option>
            <option>Mobile & Gadgets</option>
            <option>Other</option>
            </select>

          <label for="Titel">Blog Title:</label>
          <input type="text" class="form-control" ng-model="blog.Tittle" name="title"><br>
          <label for="comment"> Blog Content:</label>
          <textarea class="form-control" rows="5" ng-model="blog.blogText" id="blogText"></textarea>
          <button type="button" ng-click="addBlog()" class="btn btn-primary" style="margin: 12px 0px;">Add Blog</button>
       
    </div>
    </form>

   <h4><small>RECENT POSTS</small></h4>
      <hr>
      <div ng-repeat="blog in blogDetail">
        <h2>{{blog.Tittle}}</h2>

        <h4>Category : {{blog.Type}}  </h4> <h5><span class="glyphicon glyphicon-time"></span>Post by  <span style="color: #337ab7;font-weight: bold;">{{blog.name}},</span> on {{blog.CreatedDate |date : 'fullDate'}}.</h5>

        <p style="text-align:justify;">{{blog.blogText}}</p>
        <hr>
      </div>
      
     

     
      <br><br>

    </div>
  
    <a ui-sref=".list" class="btn btn-primary">List</a>
    <a ui-sref=".paragraph" class="btn btn-danger">Paragraph</a>
    

<div ui-view></div> 